.example-icon {
    padding: 0 14px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }

  .plain{
      color: white;
      font-family: inherit;
      text-decoration: none;
  }

  .fixed{
      position: fixed;
      width: 100%;
      z-index: 1000;
      opacity: 0.6; 
  }

  .fixed:hover{
    opacity: 0.9; 
  }



  /* a:link {
    background-color: yellow;
} */

/* a:visited {
    background-color: cyan;
} */

/* a:hover {
    background-color: lightgreen;
} */

/* a:active {
    background-color: hotpink;
}  */